---
import Swiper from 'swiper';
import 'swiper/css';
import Button from '../Button.astro';
const { slides } = Astro.props;
---

<div
  style="--swiper-navigation-color: #64748b; --swiper-pagination-color: #64748b"
  class="swiper mySwiper"
>
  <div class="swiper-wrapper">
    {
      slides.map((item) => (
        <div class ="swiper-slide">
          <div class ="rounded-3xl p-8 grid grid-cols-2 space-x-14 h-full ">
              <img
                class="mx-auto h-auto w-full max-w-xl rounded-3xl"
                width="300"
                height="300"
                src={item.image}
                alt="Our experts working together"
              />
          <div class='grid-rows-4 grid'>
            <div class='row-span-4'>
              <h2 class="text-xl font-medium">{item.name}</h2>
              <p class="text-primary-950/70 dark:text-primary-200/70 mt-6">{item.description}</p>
            </div>
            <div>
              <div class='max-w-xs'>
            <Button link={item.link} ButtonText="View project"/></div>
            </div>
          </div>
        </div>
        </div>
      ))}
      </div>

  <div class="swiper-pagination"></div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper('.swiper', {
    // slidesPerView: 1,
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 1.5,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false
    },
    keyboard: {
      enabled: true
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    },
    coverflowEffect: {
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    }
  });
</script>
