@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {

      --background:0 0% 100%; /* eddfef pale purple 0 100% 100%; */
      --foreground: 0 0% 8%; /* 141414 night */;

      --card: 0 0% 100%; /* ffffff white */
      --card-foreground: 20 14.3% 4.1%; /* 0c0a09 smoky black */

      --popover: 0 0% 100%; /* ffffff white */
      --popover-foreground: 20 14.3% 4.1%; /* 0c0a09 smoky black */

      --primary: 210 100% 56%; /* 1f8fff Dodger blue */
      --primary-foreground: 60 9.1% 97.8%;

      --secondary: 282, 100%, 81%; /*  e2a0ff / 332 93% 67%; f95ca4 brilliant rose / 332 92% 80% fb9dc9 carnation pink*/
      --secondary-foreground: 24 9.8% 10%; /* 1c197 eerie black */

      --muted: 293 33% 91%; /* eddfef pale purple */
      --muted-foreground: 25 5.3% 44.7%;

      --accent: 60 4.8% 95.9%;
      --accent-foreground: 24 9.8% 10%;

      --destructive: 2 100% 50%; /* ff0800 candy apple red */
      --destructive-foreground: 60 9.1% 97.8%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }

    .dark {
      --background:0 0% 8%;
      --foreground: 0 0% 100%;

      --card:20 14.3% 4.1%  0 0% 100%;
      --card-foreground: 0 0% 100%;

      --popover: 20 14.3% 4.1%;
      --popover-foreground: 0 0% 100%;

      --primary: 210 100% 56%;
      --primary-foreground: 60 9.1% 97.8%;

      --secondary: 282, 100%, 81%;
      --secondary-foreground: 24 9.8% 10%;

      --muted: 293 33% 91%;
      --muted-foreground: 25 5.3% 44.7%;

      --accent: 60 4.8% 95.9%;
      --accent-foreground: 24 9.8% 10%;

      --destructive: 2 100% 50%; /* ff0800 candy apple red */
      --destructive-foreground: 60 9.1% 97.8%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }