---
import ProjectSwiper from '../swiper/ProjectSwiper';
const projects = [
  {
    name: 'M31 Controller',
    description:
      'A video/audio game controller to make digital entertainment more approachable to those with\n' +
      '                  visual impairments.',
    image: '/assets/m31/controller.jpg',
    tag: '',
    link: 'projects/m31',
    features: []
  },
  {
    name: 'StackeRs',
    description:
      'Reusable packaging made of highly recyclable materials for baby bathing products.',
    image: '/assets/bottles/block.jpg',
    tag: '',
    link: '/projects/stackers',
    features: []
  },
  {
    name: 'ASTRA',
    description: 'An interstellar games arcade with a hollogramic screen.',
    isFlagged: true,
    image: '/assets/astra/astra.png',
    tag: '',
    link: '/projects/astra',
    features: []
  }
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Projects</h2>
    <ProjectSwiper slides={projects} />
  </div>
</section>
