---
import Layout from '../layouts/Layout.astro';
---

<Layout description="Privacy policy" title="Styleguide · Stone">
  <header class="py-16 lg:py-20">
    <div
      class="mx-auto max-w-7xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
        Privacy policy
      </h1>
    </div>
  </header>

  <section class="py-16 sm:py-20">
    <div class="mx-auto max-w-xl px-6 sm:px-8 lg:max-w-4xl lg:px-12">
      <p class="text-base">
        This privacy policy explains how I collect, use, and share your personal
        information when you visit my personal portfolio website. What
        information do I collect? I may collect the following personal
        information about you: Your name and email address, if you contact me
        through my website. Your IP address and browser information, when you
        visit my website. Information about your interaction with my website,
        such as the pages you visit and the links you click. How do I use your
        information? I use your personal information to: Respond to your
        inquiries and requests. Improve my website and the content I offer.
        Analyze website traffic and trends. Do I share your information with
        third parties? I do not share your personal information with any third
        parties, except as required by law. How do I protect your information? I
        take reasonable steps to protect your personal information from
        unauthorized access, use, or disclosure. However, no method of
        electronic transmission or storage is 100% secure. How long do I retain
        your information? I retain your personal information for as long as
        necessary to achieve the purposes for which it was collected. Your
        choices You have the right to: Request access to your personal
        information. Request that I correct or delete your personal information.
        Object to the processing of your personal information. To exercise any
        of these rights, please contact me at [your email address]. Changes to
        this privacy policy I may update this privacy policy from time to time.
        If I make any significant changes, I will post a notice on my website.
        Contact me If you have any questions about this privacy policy, please
        contact me at bettinasosarohl@gmail.com.
      </p>
    </div>
  </section>
</Layout>
